[XDebug]
zend_extension="xdebug.so"

xdebug.remote_enable={{ php_xdebug_remote_enable }}
xdebug.remote_connect_back={{ php_xdebug_remote_connect_back }}
xdebug.remote_host={{ php_xdebug_remote_host }}
xdebug.remote_port={{ php_xdebug_remote_port }}
xdebug.remote_handler="dbgp"
xdebug.remote_log={{ php_xdebug_remote_log }}
xdebug.remote_autostart={{ php_xdebug_remote_autostart }}
xdebug.remote_cookie_expire_time={{ php_xdebug_remote_cookie_expire_time }}
xdebug.coverage_enable={{ php_xdebug_coverage_enable }}
xdebug.default_enable={{ php_xdebug_default_enable }}
xdebug.cli_enable={{ php_xdebug_cli_enable }}
xdebug.auto_trace={{ php_xdebug_auto_trace }}
xdebug.collect_includes={{ php_xdebug_collect_includes }}
xdebug.collect_params={{ php_xdebug_collect_params }}
xdebug.collect_return={{ php_xdebug_collect_return }}
xdebug.collect_vars={{ php_xdebug_collect_vars }}

xdebug.idekey="{{ php_xdebug_idekey }}"
xdebug.max_nesting_level = {{ php_max_nesting_level }}
